@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.navigation {
    position: relative;
    width: 350px;
    height: 70px;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.navigation ul li a .icon {
    position: relative;
    line-height: 75px;
    transition: 0.5s;
    font-size: 30px;
}

.navigation ul li.active a .icon {
    font-size: 20px;
    transform: translateY(-6px);
}

.navigation ul li a .text {
    position: absolute;
    font-size: 12px;
    color: #fff;
    bottom: 10px;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);
}

.navigation ul li.active a .text {
    transform: scale(1);
}

.indicator {
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    background: red;
}