* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edeeed;
}

.drops {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop {
    position: absolute;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 53% 47% 38% 62% / 47% 48% 52% 53%;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
                15px 25px 10px rgba(0, 0, 0, 0.1),
                15px 20px 20px rgba(0, 0, 0, 0.05),
                inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}

.drop::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 35px;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 35% 65% 38% 62% / 54% 38% 62% 46% ;
}

.drop::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 65px;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 67% 33% 38% 62% / 54% 38% 62% 46%  ;
}

.drop:nth-child(2) {
    transform: scale(0.5) translate(-200px, 180px);
    border-radius: 67% 33% 38% 62% / 42% 38% 62% 58% ;
}

.drop:nth-child(3) {
    transform: scale(0.5) translate(280px, 10px);
    border-radius: 50% 50% 38% 62% / 53% 44% 56% 47% ;
}

.drop:nth-child(4) {
    transform: scale(0.35) translate(120px, -350px);
    border-radius: 35% 65% 70% 30% / 79% 33% 67% 21% ;
}